/wallpapers/personal/
/scripts/settings_changer/*.json
/scripts/settings_changer/current.txt
/config/hypr/custom.lua
/config/hypr/custom_append.lua
/config/nvim/lazy-lock.json
/config/waybar/custom.jsonc
